/* configuração da navbar*/
#navbar {
    height: 7vh;
}

.navbar {
    background-color: #38a371;
    justify-content: space-between;
    height: 7vh;
    display: flex;
}

.item-navbar {
    display: inline-flex;
    height: 7vh;
    font-size: 2.2vh;
    align-items: center;
    flex-direction: row;
}

.item-navbar:hover {
    background-color: #55bb8b;
}

.item-navbar a {
    color: white;
    text-align: center;
    padding-left: 1vw;
    padding-right: 1vw;
}

.opcoes-site-left {
    justify-self: flex-end;
}

.opcoes-site-right {
    align-items: right;
}

/*RESPONSIVIDADE PARA TELAS DE PEQUENAS*/
@media (min-width: 1024px) and (max-width: 1440px) {
    .item-navbar {
        font-size: 2.4vh;
    }

    .item-navbar a {
        padding-left: 1.2vw;
        padding-right: 1.2vw;
    }
}

/*RESPONSIVIDADE PARA TELAS DE SMARTPHONES*/
@media (min-width: 240px) and (max-width: 799px) 
    and (min-height: 360px) and (max-height: 1080px) {

    .navbar {
        height: 6vh;
    }

    .item-navbar {
        height: 6vh;
        font-size: 1.6vh;
    }

    .item-navbar a {
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
}