/*Trecho que limpa formatação inicial do css e define os grupos de fontes que serão utilizados*/
* {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Aplicação de cor de fundo na página*/
body {
    background-color: #fffcff;
}

/* configuração de links*/
a {
    text-decoration: none;
}

/* configuração do conteúdo das páginas*/
.site-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    flex-direction: row;
}