/*configuração do formulário da página*/
form {
    display: block;
}

/*configuração do input onde a senha é gerada*/
.input-senha-gerada {
    width: 49vw;
    padding-bottom: 20px;
}

#campo-gerador-senha {
    width: 100%;
    font-size: 3.5vh;
    padding: 10px 8px;
    border-radius: 12px;
    text-align: center;
}

/* Configuração do container dos seletores de opções */
.container-opcoes {
    display: flex; 
    flex-direction: row; 
    width: 50vw; 
    justify-content: space-between; 
    align-items: center;
}

/*configuração do range seletor de caracteres*/
.seletor-caracteres {
    width: 36vw;
    padding-bottom: 5vh;
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.scroll-seletor-caracteres {
    width: 100%;
}

#texto-tamanho-senha {
    text-align: center;
    width: 100%;
    font-size: 2.4vh;
    padding-bottom: 1.8vh;
}

/*configuração do seletor de caracteres -> 
configuração feita para cada tipo de navegador*/
/* Chrome - Edge */
input[type=range] {
    -webkit-appearance: none;
}

#seletor-quantidade-caracteres::-webkit-slider-runnable-track {
    background: #38a371;
    border-radius: 12px;
    padding: 8px 6px;
}

#seletor-quantidade-caracteres::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 2.5vh;
    width: 2.5vh;
    border-radius: 12px;
    background: #fff;
}

/* Firefox */
#seletor-quantidade-caracteres::-moz-range-track {
    background: #38a371;
}

#seletor-quantidade-caracteres::-moz-range-thumb {
    -webkit-appearance: none;
    height: 2.5vh;
    width: 2.5vh;
    border-radius: 12px;
    background: #fff;
}

/* Configuração do checkboxes de opções de personalização das senhas */
/* Estilo geral para o container*/
.checkbox-container {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

/* Estilo para os labels das checkboxes */
.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 2.4vh;
    padding-bottom: 2vh;
  }
  
  /* Personalização das checkboxes */
  input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-right: 5px; 
    appearance: none; 
    border: 2px solid #aaa; 
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.2s ease;
    position: relative;
  }
  
  /* Cor de fundo quando o checkbox estiver marcado */
  input[type="checkbox"]:checked {
    background-color: #38a371; 
    border-color: #38a371;
  }

  input[type="checkbox"]:checked::after {
    content: "";
    position: absolute;
    height: 6px;
    top: 3px;
    left: 4px;
    width: 10px;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    transform: rotate(-45deg); /* Cria o "V" do check */
  }

/*configuração dos botões*/
.botoes {
    text-align: center;
    width: 100%;
}

.botao {
    padding: 12px 20px;
    font-size: 2vh;
    margin: 16px 8px 0px 8px;
    background-color: #38a371;
    color: white;
    border-color: transparent;
    border-radius: 12px;
}

.botao:hover {
    background-color: #55bb8b;
}

/*RESPONSIVIDADE PARA TELAS DE PEQUENAS*/
@media (min-width: 1024px) and (max-width: 1440px) {

    .input-senha-gerada {
        width: 59vw;
    }

    .container-opcoes {
        width: 60vw; 
    }

    .seletor-caracteres {
        width: 39vw;
    }

    .scroll-seletor-caracteres {
        width: 100%;
    }

    #texto-tamanho-senha {
        font-size: 2.8vh;
    }

    /*configuração dos botões*/
    .botao {
        font-size: 2.5vh;
    }
}

/*RESPONSIVIDADE PARA TELAS MÉDIAS*/
@media (min-width: 1441px) and (max-width: 1720px) {
    .input-senha-gerada {
        width: 54vw;
    }

    .container-opcoes {
        width: 55vw; 
    }

    .seletor-caracteres {
        width: 38vw;
    }
}


/*RESPONSIVIDADE PARA TELAS DE SMARTPHONES*/
@media (min-width: 240px) and (max-width: 799px) and (min-height: 360px) and (max-height: 1080px) {

.input-senha-gerada {
    width: 76vw;
    padding-bottom: 3.5vh;
}

#campo-gerador-senha {
    font-size: 2.4vh;
}

/* Configuração do container dos seletores de opções */
.container-opcoes {
    flex-direction: column; 
    width: 82vw; 
}

/*configuração do range seletor de caracteres*/
.seletor-caracteres {
    width: 58vw;
    padding-bottom: 3vh;
}

#texto-tamanho-senha {
    font-size: 2.4vh;
    padding-bottom: 1.6vh;
}


/* Configuração do checkboxes de opções de personalização das senhas */
/* Estilo geral para o container*/
.checkbox-container {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

/* Estilo para os labels das checkboxes */
.checkbox-label {
    padding-bottom: 2.2vh;
  }
   

    .botao {
        padding: 10px 15px;
        font-size: 1.8vh;
        margin: 8px;
    }
}