/*Configurações Página Senhas Fortes*/
.artigo-senhas-fortes {
    width: 76vw;
    height: 92vh;
    margin-top: 10vh;
    margin-bottom: 4vh;
    justify-content: center;
    text-align: justify;
}

.paragrafo-artigo {
    padding: 10px 0px;
    font-size: 2.4vh;
    line-height: 1.5em;
}

.paragrafo-rodape {
    padding-bottom: 4vh;
    font-size: 1.8vh;
}

/*RESPONSIVIDADE PARA TELAS DE PEQUENAS*/
@media (min-width: 1024px) and (max-width: 1440px) {
    /*Configurações Página Senhas Fortes*/
    .artigo-senhas-fortes {
        width: 80vw;
    }

    .paragrafo-artigo {
        font-size: 2.5vh;
    }

    .paragrafo-rodape {
        padding-bottom: 4vh;
        font-size: 2vh;
    }

}

/*RESPONSIVIDADE PARA TELAS DE SMARTPHONES*/
@media (min-width: 240px) and (max-width: 799px) and (min-height: 360px) and (max-height: 1080px) {
    .artigo-senhas-fortes {
        width: 88vw;
        height: 92vh;
        margin-top: 7vh;
        margin-bottom: 3vh;
    }

    .titulo-artigo {
        font-size: 2.2vh;
    }

    .paragrafo-artigo {
        padding: 8px 0px;
        font-size: 1.6vh;
    }

    .paragrafo-rodape {
        padding-bottom: 2vh;
        font-size: 1.2vh;
    }
}