/*Configurações SnackBar*/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 2.4vh;
    transform: translateX(-50%);
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar.success {
    background-color: #38a371;
}

#snackbar.error {
    background-color: #f44336;
}

#snackbar.warning {
    background-color: #ff9800;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

/*RESPONSIVIDADE PARA TELAS DE SMARTPHONES*/
@media (min-width: 240px) and (max-width: 799px) and (min-height: 360px) and (max-height: 1080px) {
    #snackbar {
        min-width: 220px;
        border-radius: 12px;
        padding: 12px;
        font-size: 1.8vh;
    }
}